validation/common/sch/01-ESPD-common-cl-attributes.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <title>Common Criterion Business Rules</title>
    
    <ns prefix="cac" uri="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    <ns prefix="cbc" uri="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    
    <pattern id="BR-COM-CL-ATT">
        
        <!--
		ESPD code list values constraints - 01-ESPD-common-cl-attributes.sch
		Version 3.0.1
	
        $Id: 01-ESPD-common-cl-attributes.sch,v 3.0.1 $
        
        -->
        <!-- BR-OTH-03: Compulsory use of the code list identified within the document. -->
        <rule context="cbc:ConfidentialityLevelCode">
            <!--(access-right)-->
            <assert test="(false() or not(@listName != 'access-right'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = access-right'.</assert>
            <assert test="(false() or not(@listID != 'http://publications.europa.eu/resource/authority/access-right'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = http://publications.europa.eu/resource/authority/access-right'.</assert>
            <assert test="(false() or not(@listSchemeURI != 'http://publications.europa.eu/resource/distribution/access-right/20211208-0/xml/gc/AccessRight.gc'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listSchemeURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listSchemeURI = http://publications.europa.eu/resource/distribution/access-right/20211208-0/xml/gc/AccessRight.gc'.</assert>
            <assert test="(false() or not(@listURI != 'http://publications.europa.eu/resource/authority/access-right'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = http://publications.europa.eu/resource/authority/access-right'.</assert>
            <assert test="(false() or not(@listAgencyName != 'Publications Office of the European Union'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyName = Publications Office of the European Union'.</assert>
            <assert test="(false() or not(@listAgencyID != 'OP'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyID = OP'.</assert>
        </rule>
        <rule context="cac:Country/cbc:IdentificationCode">
            <!--(country)-->
            <assert test="(false() or not(@listName != 'country'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = country'.</assert>
            <assert test="(false() or not(@listID != 'http://publications.europa.eu/resource/authority/country'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = http://publications.europa.eu/resource/authority/country'.</assert>
            <assert test="(false() or not(@listVersionID != '20211208-0'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listVersionID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listVersionID = 20211208-0'.</assert>
            <assert test="(false() or not(@listSchemeURI != 'http://publications.europa.eu/resource/distribution/country/20211208-0/xml/gc/Country.gc'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listSchemeURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listSchemeURI = http://publications.europa.eu/resource/distribution/country/20211208-0/xml/gc/Country.gc'.</assert>
            <assert test="(false() or not(@listURI != 'http://publications.europa.eu/resource/dataset/country'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = http://publications.europa.eu/resource/dataset/country'.</assert>
            <assert test="(false() or not(@listAgencyName != 'Publications Office of the European Union'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyName = Publications Office of the European Union'.</assert>
            <assert test="(false() or not(@listAgencyID != 'OP'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyID = OP'.</assert>
        </rule>
        <rule context="cbc:TypeCode">
            <!--(CriterionElementType)-->            
            <assert test="(false() or not(@listName != 'criterion-element-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = criterion-element-type'.</assert>
            <assert test="(false() or not(@listID != 'criterion-element-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = criterion-element-type'.</assert>
            <assert test="(false() or not(@listSchemeURI != 'https://github.com/ESPD/ESPD-EDM/tree/v3.0.1/codelists/gc/CriterionElementType.gc'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listSchemeURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listSchemeURI = https://github.com/ESPD/ESPD-EDM/tree/v3.0.1/codelists/gc/CriterionElementType.gc'.</assert>
            <assert test="(false() or not(@listURI != 'https://github.com/ESPD/ESPD-EDM'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = https://github.com/ESPD/ESPD-EDM'.</assert>
        </rule>
        <rule context="cbc:ValueCurrencyCode">
            <!--(currency)-->
            <assert test="(false() or not(@listName != 'currency'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = currency'.</assert>
            <assert test="(false() or not(@listID != 'http://publications.europa.eu/resource/authority/currency'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = http://publications.europa.eu/resource/authority/currency'.</assert>
            <assert test="(false() or not(@listVersionID != '20211208-0'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listVersionID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listVersionID = 20211208-0'.</assert>
            <assert test="(false() or not(@listSchemeURI != 'http://publications.europa.eu/resource/distribution/currency/20211208-0/xml/gc/Currency.gc'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listSchemeURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listSchemeURI = http://publications.europa.eu/resource/distribution/currency/20211208-0/xml/gc/Currency.gc'.</assert>
            <assert test="(false() or not(@listURI != 'http://publications.europa.eu/resource/authority/currency'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = http://publications.europa.eu/resource/authority/currency'.</assert>
            <assert test="(false() or not(@listAgencyName != 'Publications Office of the European Union'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyName = Publications Office of the European Union'.</assert>
            <assert test="(false() or not(@listAgencyID != 'OP'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyID = OP'.</assert>
        </rule>
        <rule context="cac:AdditionalReferenceDocument/cbc:DocumentTypeCode">
            <!--(docrefcontent-type)-->
            <assert test="(false() or not(@listName != 'docrefcontent-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = docrefcontent-type'.</assert>
            <assert test="(false() or not(@listID != 'docrefcontent-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = docrefcontent-type'.</assert>
            <assert test="(false() or not(@listSchemeURI != 'https://github.com/ESPD/ESPD-EDM/tree/v3.0.1/codelists/gc/DocRefContentType.gc'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listSchemeURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listSchemeURI = https://github.com/ESPD/ESPD-EDM/tree/v3.0.1/codelists/gc/DocRefContentType.gc'.</assert>
            <assert test="(false() or not(@listURI != 'https://github.com/ESPD/ESPD-EDM'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = https://github.com/ESPD/ESPD-EDM'.</assert>
        </rule>
        <rule context="cac:EconomicOperatorParty/cac:EconomicOperatorRole/cbc:RoleCode">
            <!--(eo-role-type)-->
            <assert test="(false() or not(@listName != 'eo-role-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = eo-role-type'.</assert>
            <assert test="(false() or not(@listID != 'http://publications.europa.eu/resource/authority/eo-role-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = http://publications.europa.eu/resource/authority/eo-role-type'.</assert>
            <assert test="(false() or not(@listSchemeURI != 'http://publications.europa.eu/resource/distribution/eo-role-type/20211208-0/xml/gc/EoRoleType.gc'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listSchemeURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listSchemeURI = http://publications.europa.eu/resource/distribution/eo-role-type/20211208-0/xml/gc/EoRoleType.gc'.</assert>
            <assert test="(false() or not(@listURI != 'http://publications.europa.eu/resource/authority/eo-role-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = http://publications.europa.eu/resource/authority/eo-role-type'.</assert>
            <assert test="(false() or not(@listAgencyName != 'Publications Office of the European Union'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyName = Publications Office of the European Union'.</assert>
            <assert test="(false() or not(@listAgencyID != 'OP'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyID = OP'.</assert>
        </rule>
        <rule context="cac:TenderingCriterionPropertyGroup/cbc:PropertyGroupTypeCode">
            <!--(PropertyGroupType)-->
            <assert test="(false() or not(@listName != 'property-group-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = property-group-type'.</assert>
            <assert test="(false() or not(@listID != 'property-group-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = property-group-type'.</assert>
            <assert test="(false() or not(@listSchemeURI != 'https://github.com/ESPD/ESPD-EDM/tree/v3.0.1/codelists/gc/PropertyGroupType.gc'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listSchemeURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listSchemeURI = https://github.com/ESPD/ESPD-EDM/tree/v3.0.1/codelists/gc/PropertyGroupType.gc'.</assert>
            <assert test="(false() or not(@listURI != 'https://github.com/ESPD/ESPD-EDM'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = https://github.com/ESPD/ESPD-EDM'.</assert>
        </rule>
        <rule context="cac:TenderingCriterionProperty/cbc:ValueDataTypeCode">
            <!--(ResponseDataType)-->
            <assert test="(false() or not(@listName != 'response-data-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = response-data-type'.</assert>
            <assert test="(false() or not(@listID != 'response-data-type'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = response-data-type'.</assert>
            <assert test="(false() or not(@listSchemeURI != 'https://github.com/ESPD/ESPD-EDM/tree/v3.0.1/codelists/gc/ResponseDataType.gc'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listSchemeURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listSchemeURI = https://github.com/ESPD/ESPD-EDM/tree/v3.0.1/codelists/gc/ResponseDataType.gc'.</assert>
            <assert test="(false() or not(@listURI != 'https://github.com/ESPD/ESPD-EDM'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = https://github.com/ESPD/ESPD-EDM'.</assert>
        </rule>
        <rule context="cbc:CriterionTypeCode">
            <!--(criterion)-->
            <assert test="(false() or not(@listName != 'criterion'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = criterion'.</assert>
            <assert test="(false() or not(@listID != 'http://publications.europa.eu/resource/authority/criterion'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = http://publications.europa.eu/resource/authority/criterion'.</assert>
            <assert test="(false() or not(@listURI != 'http://publications.europa.eu/resource/dataset/criterion'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = http://publications.europa.eu/resource/dataset/criterion'.</assert>
            <assert test="(false() or not(@listAgencyName != 'Publications Office of the European Union'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyName = Publications Office of the European Union'.</assert>
            <assert test="(false() or not(@listAgencyID != 'OP'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyID = OP'.</assert>
        </rule>
		<rule context="cbc:occupation">
            <!--(occupation)-->
            <assert test="(false() or not(@listName != 'occupation'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listName = occupation'.</assert>
            <assert test="(false() or not(@listID != 'criterion'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listID = occupation'.</assert>
            <assert test="(false() or not(@listURI != 'https://github.com/ESPD/ESPD-EDM'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listURI"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listURI = https://github.com/ESPD/ESPD-EDM'.</assert>
            <assert test="(false() or not(@listAgencyName != 'DG GROW (European Commission)'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyName"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyName = DG GROW (European Commission)'.</assert>
            <assert test="(false() or not(@listAgencyID != 'EU-COM-GROW'))" flag="fatal">Invalid codelist attribute value '<value-of select="@listAgencyID"/>'. The element '<value-of select="name(ancestor::*[1])"/>/<value-of select="name()"/>' must have the following attribute and value: 'listAgencyID = EU-COM-GROW'.</assert>
        </rule>        
    </pattern>
</schema>
