schematron/src/main/resources/schema/common/UBL-XAdESv141-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright 2016 EUROPEAN COMMISSION
  ~
  ~ Licensed under the EUPL, Version 1.1 or – as soon they
  ~ will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence");
  ~
  ~ You may not use this work except in compliance with the Licence.
  ~
  ~ You may obtain a copy of the Licence at:
  ~
  ~ https://joinup.ec.europa.eu/community/eupl/og_page/eupl
  ~
  ~ Unless required by applicable law or agreed to in
  ~ writing, software distributed under the Licence is
  ~ distributed on an "AS IS" basis,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied.
  ~ See the Licence for the specific language governing
  ~ permissions and limitations under the Licence.
  ~
  -->

<!--
  Library:           OASIS Universal Business Language (UBL) 2.1 OS
                     http://docs.oasis-open.org/ubl/os-UBL-2.1/
  Release Date:      04 November 2013
  Module:            UBL-XAdESv141-2.1.xsd
  Generated on:      2011-02-21 17:20(UTC)

  This is a copy of http://uri.etsi.org/01903/v1.4.1/XAdESv141.xsd modified
  only to change the importing URI for the XAdES v1.3.2 schema.
-->
<xsd:schema targetNamespace="http://uri.etsi.org/01903/v1.4.1#" xmlns="http://uri.etsi.org/01903/v1.4.1#"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xades="http://uri.etsi.org/01903/v1.3.2#"
            elementFormDefault="qualified">
    <xsd:import namespace="http://uri.etsi.org/01903/v1.3.2#" schemaLocation="UBL-XAdESv132-2.1.xsd"/>
    <!-- Start CertificateValues -->
    <xsd:element name="TimeStampValidationData" type="ValidationDataType"/>
    <xsd:complexType name="ValidationDataType">
        <xsd:sequence>
            <xsd:element ref="xades:CertificateValues" minOccurs="0"/>
            <xsd:element ref="xades:RevocationValues" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        <xsd:attribute name="UR" type="xsd:anyURI" use="optional"/>
    </xsd:complexType>
    <xsd:element name="ArchiveTimeStampV2" type="xades:XAdESTimeStampType"/>
</xsd:schema>
